/*=======   project name : Marco-watch  =================*/




/*================================
            TABLET LAYOUT :
    ================================*/

@media only screen and (min-width: 768px) and (max-width: 810px) {

    #mainNav .login-btn a {
        color: #fff;
        display: block;
        letter-spacing: 1px;
        margin-top: 0px;
        font-size: 15px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    #mainNav .signup-btn a {
        color: #fff;
        display: block;
        letter-spacing: 1px;
        margin-top: 0px;
        font-size: 15px;
        border: 2px solid #fff;
        border-radius: 50px;
        padding: 4px 30px 5px 30px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    #mainNav .login-btn {
        margin-left: 45%;
    }

    #mainNav .navbar-brand img {
        width: 2.5rem;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        margin-top: 14px;
    }

    /*------- Login  form : ----------*/

    .modal-login {
        width: 370px;
    }

    .modal-login .modal-content {
        border-radius: 1px;
        border: none;
    }

    .modal-login .modal-header {
        text-align: center;
        padding-top: 26px;
    }

    .modal-login .modal-body {
        padding: 30px;
    }

    .modal-login .signup-body {
        padding: 30px 30px 5px 30px;
    }

    .modal-login .modal-footer {
        background: #f2f2f2;
    }

    .modal-login h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        color: #2186eb;
        margin-bottom: 15px;
    }

    .modal-login p {
        margin: 0;
        color: #a0a0a0;
    }

    .modal-login label {
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 13px;
        color: #334e68;
    }

    .modal-login .form-control,
    .modal-login .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .modal-login .hint-text {
        text-align: center;
    }

    .modal-login .close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .modal-login .checkbox-inline {
        margin-top: 12px;
    }

    .modal-login input[type="checkbox"] {
        margin-right: 8px;
        margin-bottom: 15px;
        position: relative;
        top: 1px;
    }

    .modal-login .btn {
        min-width: 100px;
        background: #3498db;
        border: none;
        line-height: normal;
    }

    .modal-login .btn:hover,
    .modal-login .btn:focus {
        background: #248bd0;
    }

    .modal-login .hint-text a {
        color: #999;
    }


    /*---------- Sign-up form :----------*/

    .form-control {
        height: 41px;
        background: #f2f2f2;
        box-shadow: none !important;
        border: none;
    }

    .form-control:focus {
        background: #e2e2e2;
    }

    .form-control,
    .btn {
        border-radius: 3px;
    }

    .signup-form {
        margin: 30px auto;
    }

    .signup-form form {
        color: #999;
        border-radius: 3px;
        margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .signup-form .form-group {
        margin-bottom: 20px;
    }

    .signup-form input[type="checkbox"] {
        margin-top: 3px;
    }

    .signup-form .btn {
        font-size: 16px;
        font-weight: bold;
        background: #3598dc;
        border: none;
        min-width: 140px;
    }

    .signup-form .btn:hover,
    .signup-form .btn:focus {
        background: #2389cd !important;
        outline: none;
    }

    .signup-form a {
        color: #fff;
        text-decoration: underline;
    }

    .signup-form a:hover {
        text-decoration: none;
    }

    .signup-form form a {
        color: #3598dc;
        text-decoration: none;
    }

    .signup-form form a:hover {
        text-decoration: underline;
    }

    .signup-form .hint-text {
        padding-bottom: 15px;
        text-align: center;
    }

    .fname {
        padding-right: 0;
    }

    .bnr-overlay {
        padding: 21% 0 47% 0;
    }

    .bnr-content h1 {
        margin-bottom: 22%;
    }

    .content {
        padding: 52px 18px 29px 18px;
        text-align: justify;
    }

    #services {
        margin-bottom: 0;
    }

    .diamond {
        /*        margin: 10px 0 22px 0;*/
    }

    #video-section .video-p {
        margin: 25px 25px 0 25px;
    }

    .video-overlay {
        margin-top: -44px;
    }

    .video-overlay img {
        width: 87%;
    }

    .play-btn {
        width: 60px;
        height: 60px;
        display: grid;
        margin: 0 auto;
        place-items: center;
        -moz-transform: translateY(210px);
        transform: translateY(205px);
    }

    #video-section .modal-body {
        padding: 0 8rem;
    }

    #video-section .modal-header {
        padding: 1rem 8rem;
        margin-top: 25%;
    }

    .testimo-quote {
        margin: 25px 38px 25px 30px;
    }

    .review img {
        margin-top: 23px;
    }

    .review h3 {
        margin-left: 30px;
    }

    .testimo-p {
        color: #627d98;
        margin-left: 30px;
    }

    #testimo-slider .carousel-control-next,
    #testimo-slider .carousel-control-prev {
        transform: translateY(-37px);
    }

    #testimo-slider .carousel-control-prev {
        margin-left: 81%;
    }

    .testimo-img img {
        margin-left: 18%;
        width: 70%;
    }

    #screenshots .owl-carousel .item {
        width: 95%;
    }

    #screenshots {
        padding: 40px 5px 74px 5px;
    }

    .accordion .card {
        margin-right: 1rem;
    }

    .accordion-watch img {
        width: 277px;
    }

    .accordion .card-body {
        margin-right: 1rem;
    }

    #subscribe {
        padding: 92px 0;
    }

    #subscribe p {
        margin: 0 8rem 1.5rem 8rem;
    }

    .input-mail {
        width: 53%;
        height: 41px;
    }

    .sub-btn {
        padding: 9px 18px 7px 18px;
        border: 2px solid #fff;
        margin-left: -131px;
    }

    .pricing-p {
        margin: 0 13rem 3rem 13rem;
    }

    .package {
        width: 219px;
        padding: 28px 2px;
    }

    .starter {
        margin-left: 2%;
    }

    .package-main {
        max-width: 32.333%;
    }

    .package-type {
        margin-bottom: 20px;
    }

    .package-type h6 {
        font-size: 0.8rem;
    }

    .type-middle {
        width: 135px;
    }

    .validity {
        margin-bottom: 18px;
    }

    .description-p {
        margin: 0px 15px 23px 15px;
    }

    .line {
        width: 11rem;
    }

    .price-button a {
        width: 9rem;
        padding: 8px 8px;
        font-size: 1rem;
    }

    .features {
        padding-top: 20px;
    }

    .features p {
        margin-bottom: 5px;
    }

    .post-main {
        height: 28rem;
        padding: 44px 13px 29px 20px;
        width: 14rem;
    }

    .contact-mail,
    .selection {
        width: 260px;
        margin-right: 10px;
    }

    .contact-btn {
        width: 8rem;
    }

    .footer-top img {
        width: 135px;
    }

    .footer-menu {
        text-align: center;
    }

    .footer-top {
        text-align: center;
        padding: 35px 0 10px 0;
    }

    .footer-menu a {
        padding: 10px;
        margin-left: 5px;
        margin-top: 15px;
    }

    .footer-bottom p {
        text-align: right;
    }

    .social-media {
        text-align: left;
        /*        margin-top: 15px;*/
    }
}




/*===========================
        ipad-Pro :
============================*/
@media only screen and (min-width: 811px) and (max-width:1024px) {

    #mainNav .login-btn {
        margin-right: -21%;
    }

    #services {
        margin-bottom: 0;
    }

    #video-section .video-p {
        margin: 25px 116px 0 116px;
    }

    .play-btn {
        width: 60px;
        height: 60px;
        display: grid;
        margin: 0 auto;
        place-items: center;
        transform: translateY(216px);
    }

    .content {
        padding: 52px 18px 29px 18px;
    }

    #video-section .modal-header {
        margin-top: 30%;
    }

    #testimo-slider .carousel-control-next,
    #testimo-slider .carousel-control-prev {
        transform: translateY(-60px);
    }

    #screenshots .owl-carousel .item {
        width: 100%;
    }

    #screenshots {
        padding: 40px 5px 100px 5px;
    }

    #questions {
        padding: 11px 10px 100px 10px;
    }

    .accordion .card-body {
        margin-right: 4rem;
    }

    #subscribe {
        padding: 84px 0;
    }

    .sub-btn {
        padding: 9px 18px 8px 18px;
        border: 2px solid #fff;
        margin-left: -131px;

    }

    .input-mail {
        width: 40%;
    }

    .pricing-p {
        margin: 0 20rem 3rem 20rem;
    }

    .package {
        width: 290px;
        padding: 34px 8px;
    }

    .package-type {
        margin-bottom: 23px;
    }

    .starter {
        margin-left: 2%;
    }

    .package-main {
        max-width: 32.333%;
    }

    .validity {
        margin-bottom: 20px;
    }

    .description-p {
        margin: 0 25px 20px 25px;
    }

    .features {
        padding-top: 19px;
    }

    .post-main {
        height: 21rem;
    }
}





/*================================
        MOBILE LAYOUT :
================================*/

@media only screen and (max-width:574px) {
    #mainNav .login-btn a {
        color: #fff;
        display: block;
        letter-spacing: 1px;
        margin-top: 0px;
        font-size: 15px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }


    #mainNav .signup-btn a {
        color: #fff;
        display: block;
        letter-spacing: 1px;
        margin-top: 0px;
        font-size: 15px;
        border: 2px solid #fff;
        border-radius: 50px;
        padding: 4px 30px 5px 30px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    #mainNav .login-btn {
        margin-left: -18px;
    }

    #mainNav .navbar-brand img {
        width: 2rem;
    }

    #mainNav .navbar-toggler {
        padding: 5px 9px 5px 5px;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        margin-top: 14px;
    }


    /*------- Login form : ----------*/

    .modal-login {
        width: 300px;
    }

    .modal-login .modal-content {
        border-radius: 1px;
        border: none;
    }

    .modal-login .modal-header {
        text-align: center;
        padding-top: 26px;
    }

    .modal-login .modal-body {
        padding: 15px;
    }

    .modal-login .signup-body {
        padding: 14px 14px 5px 14px;
    }

    .modal-login .modal-footer {
        background: #f2f2f2;
    }

    .modal-login h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        color: #2186eb;
        margin-bottom: 0;
    }

    .modal-login p {
        margin: 0;
        color: #a0a0a0;
    }

    .modal-login label {
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 13px;
        color: #334e68;
    }

    .modal-login .form-control,
    .modal-login .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .modal-login .hint-text {
        text-align: center;
    }

    .modal-login .close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .modal-login .checkbox-inline {
        margin-top: 12px;
    }

    .modal-login input[type="checkbox"] {
        margin-right: 8px;
        margin-bottom: 15px;
        position: relative;
        top: 1px;
    }

    .modal-login .btn {
        min-width: 100px;
        background: #3498db;
        border: none;
        line-height: normal;
    }

    .modal-login .btn:hover,
    .modal-login .btn:focus {
        background: #248bd0;
    }

    .modal-login .hint-text a {
        color: #999;
    }


    /*--------- Sign-up form : ---------*/

    .form-control {
        height: 41px;
        background: #f2f2f2;
        box-shadow: none !important;
        border: none;
    }

    .form-control:focus {
        background: #e2e2e2;
    }

    .form-control,
    .btn {
        border-radius: 3px;
    }

    .signup-form {
        margin: 30px auto;
    }

    .signup-form form {
        color: #999;
        border-radius: 3px;
        margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .signup-form .form-group {
        margin-bottom: 20px;
    }

    .signup-form input[type="checkbox"] {
        margin-top: 3px;
    }

    .signup-form .btn {
        font-size: 16px;
        font-weight: bold;
        background: #3598dc;
        border: none;
        min-width: 140px;
    }

    .signup-form .btn:hover,
    .signup-form .btn:focus {
        background: #2389cd !important;
        outline: none;
    }

    .signup-form a {
        color: #fff;
        text-decoration: underline;
    }

    .signup-form a:hover {
        text-decoration: none;
    }

    .signup-form form a {
        color: #3598dc;
        text-decoration: none;
    }

    .signup-form form a:hover {
        text-decoration: underline;
    }

    .signup-form .hint-text {
        padding-bottom: 15px;
        text-align: center;
    }

    .fname {
        padding-right: 0;
    }

    .modal.show .modal-dialog {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 10%);
        margin: 0 auto;
    }

    .bnr-overlay {
        padding: 21% 0 47% 0;
    }

    .bnr-content h1 {
        font-size: 2.5rem;
        margin: 20% 5% 64% 5%;
    }

    #services h4 {
        font-size: 1.3rem;
    }

    .content {
        padding: 47px 47px 0 47px;
    }

    .content img {
        width: 2.4rem;
    }

    #video-section {
        padding: 10px 5px 50px 5px;
    }

    .video-p {
        margin-bottom: 0;
        margin: 0;
    }

    .video-overlay img {
        width: 100%;
    }

    .play-btn {
        width: 50px;
        height: 50px;
        display: grid;
        margin: 0 auto;
        cursor: pointer;
        place-items: center;
        transform: translateY(121px);
    }

    .play-btn i {
        font-size: 21px;
        margin-left: 4px;
    }

    #video-section .modal-header {
        padding: 0 0 15px 0;
        width: 35%;
    }

    #video-section .modal-body video {
        width: 36%;
    }

    #video-section .modal.show .modal-dialog {
        -webkit-transform: translate(0, 0);
        transform: translate(1%, 118%);
    }

    .modal-body {
        padding: 0 32px 0 5px;
    }

    .testimo-img img {
        display: block;
        margin: 0 auto;
    }

    .testimo-quote {
        margin: 28px 40px 25px 48px;
    }

    .review img {
        margin-left: 23px;
        width: 17px;
        margin-top: 29px;
    }

    #testimo-slider .carousel-control-next,
    #testimo-slider .carousel-control-prev {
        transform: translateY(-2px);
    }

    #testimo-slider .carousel-control-prev {
        margin-left: 38px;
    }

    .review h3 {
        margin-left: 48px;
    }

    .testimo-p {
        margin-left: 48px;
    }

    #screenshots .owl-carousel .item {
        width: 65%;
    }

    #screenshots {
        padding: 55px 5px 80px 5px;
    }

    .common-heading h2 {
        font-size: 1.6rem;
    }

    #accordionExample {
        margin-top: 2rem;
    }

    .accordion .card-header .btn {
        font-size: 15px;
        padding: .7rem;
    }

    .accordion .card {
        margin-left: -12px;
        margin-right: 0;
    }

    .accordion .card-header i {
        top: 14px;
        right: 8px;
    }

    .accordion .card-body {
        margin-right: 0;
    }

    .accordion-watch img {
        width: 245px;
        display: block;
        margin: 0 auto;
        margin-top: 2rem;
    }

    #questions {
        padding: 50px 10px 50px 10px;
    }

    #subscribe p {
        margin: 0 0 1.5rem 0;
    }

    .input-mail {
        width: 98%;
        height: ;
    }

    .sub-btn {
        padding: 7px 0 5px 0;
        width: 106px;
        height: 40px;
        margin-left: -107px;
    }

    #subscribe {
        padding: 87px 0;
    }

    #subscribe h2 {
        font-size: 1.7rem;
    }

    #pricing {
        padding: 75px 0 30px 0;
    }

    .pricing-p {
        margin: 0 2rem 3rem 2rem;
    }

    .package {
        width: 88%;
        padding: 43px 29px;
        margin: 0 auto;
        margin-bottom: 30px;
    }

    .starter {
        margin-left: 0;
    }

    .package-main {
        max-width: 100%;
    }

    .package-type {
        margin-bottom: 20px;
    }

    .package-type h6 {
        font-size: 0.8rem;
    }

    .type-middle {
        width: 135px;
    }

    .validity {
        margin-bottom: 18px;
    }

    .description-p {
        margin: 0px 0 23px 0;
    }

    .line {
        width: 14rem;
    }

    .price-button a {
        width: 9rem;
        padding: 8px 8px;
        font-size: 1rem;
    }

    .features {
        padding-top: 20px;
    }

    .features p {
        margin-bottom: 5px;
    }

    #post {
        padding: 30px 0;
    }

    .post-main {
        margin-bottom: 19px;
        height: 19rem;
    }

    .post-button {
        margin-top: 2rem;
    }

    .post-button a {
        margin-top: -31px;
    }

    #post .common-heading {
        margin-bottom: 2rem;
    }

    .contact-mail,
    .selection {
        margin-right: 0;
    }

    .contact-btn {
        margin-bottom: 50px;
    }

    .contact-address {
        text-align: left;
        padding-left: 10%;
    }

    .contact-address p {
        margin-bottom: 25px;
    }

    .contact-p {
        margin: 0 0 46px 0
    }

    .contact-address i {
        margin-right: 10px;
    }

    #contact .fa-phone-volume {
        margin-right: 16px
    }

    .footer-top {
        text-align: center;
        padding: 30px 0 10px 0;
    }

    .footer-top img {
        width: 110px;
    }

    .footer-menu {
        margin-top: 15px;
    }

    .footer-menu a {
        display: block;
        text-align: center;
        margin-left: 0;
        padding: 8px;
    }

    .footer-bottom p {
        text-align: center;
    }

    .social-media {
        text-align: center;
        margin-top: 15px;
    }
}





/*==============================
    Wide Mobile Layout
==============================*/

@media only screen and (min-width:574px) and (max-width:767px) {
    #mainNav .login-btn a {
        color: #fff;
        display: block;
        letter-spacing: 1px;
        margin-top: 0px;
        font-size: 15px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }


    #mainNav .signup-btn a {
        color: #fff;
        display: block;
        letter-spacing: 1px;
        margin-top: 0px;
        font-size: 15px;
        border: 2px solid #fff;
        border-radius: 50px;
        padding: 4px 30px 5px 30px;
        text-decoration: none;
        font-family: 'Roboto', sans-serif;
    }

    #mainNav .login-btn {
        margin-left: 30%;
    }

    #mainNav .navbar-brand img {
        width: 2.3rem;
    }

    #mainNav .navbar-toggler {
        padding: 8px 12px 8px 8px;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        margin-top: 14px;
    }


    /*-------- Login  form : -------*/

    .modal-login {
        width: 370px;
    }

    .modal-login .modal-content {
        border-radius: 1px;
        border: none;
    }

    .modal-login .modal-header {
        text-align: center;
        padding-top: 26px;
    }

    .modal-login .modal-body {
        padding: 30px;
    }

    .modal-login .signup-body {
        padding: 30px 30px 5px 30px;
    }

    .modal-login .modal-footer {
        background: #f2f2f2;
    }

    .modal-login h4 {
        font-family: 'Roboto', sans-serif;
        font-size: 28px;
        color: #2186eb;
        margin-bottom: 15px;
    }

    .modal-login p {
        margin: 0;
        color: #a0a0a0;
    }

    .modal-login label {
        font-family: 'Roboto', sans-serif;
        font-weight: normal;
        font-size: 13px;
        color: #334e68;
    }

    .modal-login .form-control,
    .modal-login .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .modal-login .hint-text {
        text-align: center;
    }

    .modal-login .close {
        position: absolute;
        top: 15px;
        right: 15px;
    }

    .modal-login .checkbox-inline {
        margin-top: 12px;
    }

    .modal-login input[type="checkbox"] {
        margin-right: 8px;
        margin-bottom: 15px;
        position: relative;
        top: 1px;
    }

    .modal-login .btn {
        min-width: 100px;
        background: #3498db;
        border: none;
        line-height: normal;
    }

    .modal-login .btn:hover,
    .modal-login .btn:focus {
        background: #248bd0;
    }

    .modal-login .hint-text a {
        color: #999;
    }


    /*--------- Sign-up form :------------*/

    .form-control {
        height: 41px;
        background: #f2f2f2;
        box-shadow: none !important;
        border: none;
    }

    .form-control:focus {
        background: #e2e2e2;
    }

    .form-control,
    .btn {
        border-radius: 3px;
    }

    .signup-form {
        margin: 30px auto;
    }

    .signup-form form {
        color: #999;
        border-radius: 3px;
        margin-bottom: 15px;
        background: #fff;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }

    .signup-form .form-group {
        margin-bottom: 20px;
    }

    .signup-form input[type="checkbox"] {
        margin-top: 3px;
    }

    .signup-form .btn {
        font-size: 16px;
        font-weight: bold;
        background: #3598dc;
        border: none;
        min-width: 140px;
    }

    .signup-form .btn:hover,
    .signup-form .btn:focus {
        background: #2389cd !important;
        outline: none;
    }

    .signup-form a {
        color: #fff;
        text-decoration: underline;
    }

    .signup-form a:hover {
        text-decoration: none;
    }

    .signup-form form a {
        color: #3598dc;
        text-decoration: none;
    }

    .signup-form form a:hover {
        text-decoration: underline;
    }

    .signup-form .hint-text {
        padding-bottom: 15px;
        text-align: center;
    }

    .fname {
        padding-right: 0;
    }

    .modal.show .modal-dialog {
        -webkit-transform: translate(0, 0);
        transform: translate(0, 21%);
    }

    .bnr-overlay {
        padding: 21% 0 47% 0;
    }

    .bnr-content h1 {
        margin-bottom: 22%;
    }

    .content {
        padding: 38px 0px 30px 17px;
    }

    .content img {
        width: 35px;
    }

    #services {
        margin-bottom: 25px;
    }

    #services h4 {
        font-size: 1.2rem;
    }

    .settings {
        margin: 10px 0 17px 0;
    }

    .diamond {
        margin: 10px 0 20px 0;
    }

    #video-section {
        padding: 0 5px 50px 5px;
    }

    .video-p {
        margin-bottom: 0;
        margin: 0;
    }

    .video-overlay img {
        width: 100%;
    }

    .play-btn {
        width: 50px;
        height: 50px;
        display: grid;
        margin: 0 auto;
        cursor: pointer;
        place-items: center;
        transform: translateY(171px);
    }

    .play-btn i {
        font-size: 21px;
        margin-left: 4px;
    }

    #video-section .modal-header {
        padding: 0 0 15px 0;
        width: 50.8%;
    }

    #video-section .modal-body video {
        width: 52%;
    }

    #video-section .modal.show .modal-dialog {
        -webkit-transform: translate(0, 0);
        transform: translate(1%, 125%);
    }

    .modal-body {
        padding: 0 32px 0 5px;
    }

    .testimo-img img {
        margin-left: 3%;
        width: 76%;
    }

    .testimo-quote {
        margin: 4px 0 25px -18px;
    }

    .review img {
        margin-left: -43px;
        margin-top: 3px;
    }

    .review h3 {
        margin-left: -18px;
    }

    .testimo-p {
        margin-left: -18px;
    }

    #testimo-slider .carousel-control-next,
    #testimo-slider .carousel-control-prev {
        transform: translateY(-10px);
    }

    #testimo-slider .carousel-control-prev {
        margin-left: 45%;
    }

    #screenshots .owl-carousel .item {
        width: 95%;
    }

    #screenshots {
        padding: 40px 5px 47px 5px;
    }

    .common-heading h2 {
        font-size: 1.7rem;
    }

    .accordion .card-header .btn {
        font-size: 15px;
        padding: .7rem;
    }

    .accordion .card {
        margin-left: -12px;
        margin-right: 0;
    }

    .accordion .card-header i {
        top: 14px;
        right: 8px;
    }

    .accordion .card-body {
        margin-right: 0;
    }

    .accordion-watch img {
        width: 245px;
        margin-top: 3rem;
        margin-left: -20px;
    }

    #questions {
        padding: 50px 10px 60px 10px;
    }

    #subscribe p {
        margin: 0 0 1.5rem 0;
    }

    .input-mail {
        width: 70%;
        height: ;
    }

    .sub-btn {
        padding: 7px 0 5px 0;
        width: 116px;
        height: 40px;
        margin-left: -117px;
    }

    #pricing {
        padding: 75px 0 30px 0;
    }

    .pricing-p {
        margin: 0 7rem 2rem 7rem;
    }

    .package {
        width: 74%;
        padding: 44px 30px;
        margin-bottom: 30px;
        margin-left: 22%;
    }

    .starter {
        margin-left: 0;
    }

    .package-main {
        max-width: 85%;
    }

    .package-type {
        margin-bottom: 20px;
    }

    .package-type h6 {
        font-size: 0.8rem;
    }

    .type-middle {
        width: 135px;
    }

    .validity {
        margin-bottom: 18px;
        /*        text-align: left;*/
    }

    .description-p {
        margin: 0px 10px 23px 10px;
    }

    .line {
        width: 17rem;
    }

    .price-button a {
        width: 9rem;
        padding: 8px 8px;
        font-size: 1rem;
    }

    .features {
        padding-top: 20px;
    }

    .features p {
        margin-bottom: 5px;
    }

    #post {
        padding: 30px 0;
    }

    #post .common-heading {
        margin-bottom: 2rem;
    }

    .post-col {
        max-width: 100%;
        margin: 0 auto;
    }

    .post-main {
        height: 17rem;
        width: 27rem;
        margin-bottom: 1rem;
    }

    .post-button {
        margin-top: 2.3rem;
    }

    .post-button a {
        margin-top: -31px;
    }

    .post-content {
        margin-right: 1rem;
    }

    .contact-mail,
    .selection {
        display: block;
        margin: 0 auto;
        margin-bottom: 25px;
    }

    .contact-btn {
        margin-bottom: 50px;
    }

    .contact-address p {
        margin-right: 18px;
    }

    .contact-p {
        margin: 0 0 46px 0
    }

    .contact-address i {
        margin-right: 8px;

    }

    .footer-top {
        text-align: center;
        padding: 30px 0 10px 0;
    }

    .footer-top img {
        width: 130px;
    }

    .footer-menu {
        margin-top: 15px;
        text-align: center;
    }

    .footer-menu a {
        padding: 9px;
        font-size: .9rem;
    }

    .footer-bottom p {
        text-align: right;
    }

    .social-media {
        text-align: left;
    }
}



/*==============================
    Nexus 7, ipad pro 12in 
==============================*/

@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-device-pixel-ratio: 2) {}



/*====================================================
    FOR iPHONE OR OTHER THAT HAVE PIXEL RATIO 3
====================================================*/

@media only screen and (-webkit-min-device-pixel-ratio: 3),
only screen and (min-device-pixel-ratio: 3) {}
